# Byte-compiled
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Cache
.cache/
*/.cache/

# OS specific
Thumbs.db
.DS_Store

# dev prompt files
prompts/